$base-color: #122333;
$card-color: #182b3d;
$input-color: #21374a;
$input-border: rgba(255, 255, 255, 0.4);

$text-color: rgba(255, 255, 255, 0.6);

$green: #2eac68;
$dark-green: #084424;

$normal: #9d2b38;
$medium: #cba312;
$hard: #2eac68;
